* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(255, 255, 255);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.form-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 350px;
}

.form-box h2 {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    color: #333;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #666;
}

.form-box input {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s;
}

.form-box input:focus {
    border-color: #ff6f61;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.store-btn {
    background-color: #28a745;
    color: #fff;
}

.store-btn:hover {
    background-color: #218838;
}

.retrieve-btn {
    background-color: #007bff;
    color: #fff;
}

.retrieve-btn:hover {
    background-color: #0069d9;
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
}

.remove-btn:hover {
    background-color: #c82333;
}

.clear-btn {
    background-color: #7661ff;
    color: #fff;
    margin-top: 1.5rem;
    width: 100%;
}

.clear-btn:hover {
    background-color: #0ff083;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    margin-top: 20px;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.card li:last-child {
    border-bottom: none;
}